body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ccc;
}
 
.wrapper{
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1.5rem;
 
    max-width: 50rem;
    max-height: 32rem;
 
    background-color: black;
}
.slider-wrapper{
    position: relative;
    overflow: hidden;
    height:   100%;
  }
   
  .slider-wrapper .slider{
    white-space: nowrap;
    font-size:   0;
    transition:  0.8s;
  }
  .slide1{
    background-image: url('./assets/1.jpg');
    border-radius: 0.3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .slide2{
    background-image: url('./assets/2.jpg');
    border-radius: 0.3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .slide3{
    background-image: url('./assets/3.jpg');
    border-radius: 0.3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .slide4{
    background-image: url('./assets/4.jpg');
    border-radius: 0.3rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  .slider-wrapper .slider > *{
    font-size:       1rem;
    display:         inline-block;
    vertical-align:  top;
    height:          100%;
    width:           100%;
  }
  .slider__t{
      margin-top: 57%;
  }
  .slider__text{
    margin-bottom: -2rem;
    width: 5rem;
    color: #fff;
  }
  .slider-wrapper .nav{
    width:   100%;
    height: 4rem;
    text-align: end;
  }
  .slider-wrapper .nav > a{
    z-index: 1;
    display: inline-block;
    width: 1rem;
    height: 3rem;
    text-decoration: none;
  }
  .nav-dot{
    width: 0.5rem;
    height:  0.5rem;
    margin-top: 1.2rem;
    border-radius: 50%;
    background:rgb(82, 95, 241);
    border: solid 0.1rem rgb(82, 95, 241);
  }
  
  